<h1>マイページ</h1>

<div>
	<p><span>名前: </span><%= @user.name %></p>
	<p><span>メールアドレス: </span><%= @user.email %></p>
</div>

<div>
	<%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg' %>
	<% if @user.id == current_user.id %>
	<p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
	<% end %>
</div>

<p><%=link_to "フォロー", follows_user_path(@user.id) %></p>
<p><%=link_to "フォロワー", followers_user_path(@user.id) %></p>
<% if current_user != @user %>
<% if @user.followed_by?(current_user) %>
<p><%=link_to "フォロー済み", user_relationships_path(@user.id), method: :delete %></p>
<% else %>
<p><%=link_to "フォローする", user_relationships_path(@user.id), method: :post %></p>
<% end %>
<% end %>

<% @tweets.each do |tweet| %>
<div>
	<p><span>ツイート内容: </span><%= link_to tweet.body, tweet_path(tweet.id) %></p>
</div>
<% end %>

<% @favorite_tweets.each do |tweet| %>
<div>
	<p><span>お気に入りツイート内容: </span><%= link_to tweet.body, tweet_path(tweet.id) %></p>
</div>
<% end %>